.nav-container {
  user-select: none;
  margin: 0;
  font-family: "Work-Sans", sans-serif;
  background-color: #f4f4f4;
  margin-bottom: 100px;
}

.nav-container a {
  color: white;
  text-decoration: none;
}

/* header */

.nav-header {
  background-color: #f39c12;
  box-shadow: 0px 4px 6px 0#c2c2c2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.nav-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #f39c12;
}
.nav-header li a {
  display: block;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
}

.nav-header .logo {
  display: block;
  float: left;
  font-size: 22px;
  padding: 20px 20px;
  text-decoration: none;
}
.nav-header .options {
  display: block;
  float: left;
  font-size: 15px;
  padding: 25px 20px;
  text-decoration: none;
}

/* menu */

.nav-header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.nav-header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav-header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.4s ease-out;
  width: 18px;
}

.nav-header .menu-icon .navicon:before,
.nav-header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.nav-header .menu-icon .navicon:before {
  top: 5px;
}

.nav-header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.nav-header .menu-btn {
  display: none;
}

.nav-header .menu-btn:checked ~ .menu {
  max-height: 440px;
}

.nav-header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav-header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav-header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.nav-search-bar {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  height: 25px;
  padding: 10px 20px;
  margin-top: 18px;
}
.nav-search-bar:focus {
  outline: none;
}
.nav-search-button {
  border: none;
  height: 25px;
  width: 30px;
  color: white;
  border: 1px solid white;
  background-color: #f39c12;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
.nav-search-button:focus,
.nav-search-button:active {
  outline: none;
}

/* Desktop view */
@media (min-width: 993px) {
  .nav-header li {
    float: left;
  }
  .nav-header li a {
    padding: 20px 15px;
  }
  .nav-header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav-header .menu-icon {
    display: none;
  }
  .nav-header .logo {
    display: 20px;
  }
}
