@import url(https://fonts.googleapis.com/css?family=Work+Sans);
* {
  margin: 0;
  padding: 0;
  font-family: Work Sans, sans-serif;
}

.profile-img {
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 8px;
  height: 200px;
  width: 200px;
}
/* Grid space for navigation placement -Rohan */
.navigation {
  border-radius: 8px;
  grid-column: 1/ -1;
}
/* Class wrapper -Rohan */
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(30px, 1fr));
  background-color: #fff;
  max-width: 800px;
  border: 1px solid white;
  margin: 50px auto auto auto;
}
.players-stats-table {
  text-align: right;
  border-collapse: collapse;
  width: 100%;
  height: 250px;
}
.players-stats-table th,
td {
  text-align: center;
  padding: 8px;
}
.players-stats-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.stats-row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
}

.profile-box {
  padding: 15px;
  font-size: 16px;
}
.player-flex-container {
  display: flex;
  align-items: stretch;
}
.player-flex-container h1 {
  padding-top: 20px;
  padding-left: 20px;
}
.player-flex-container h5 {
  padding-top: 20px;
  padding-left: 20px;
}
.profile {
  padding-left: 20px;
  line-height: 25px;
  font-size: 18px;
}
.player-flex-container > div {
  background-color: white;
  width: 80px;
  margin: 10px;
  text-align: left;
  line-height: 45px;
  font-size: 20px;
}
/* Column container -Rohan */
.player-row {
  display: flex;
  padding: 5px;
  padding-top: 50px;
}

/* Create two unequal columns that sits next to each other -Rohan*/
/* Sidebar/left column -Rohan*/
.side {
  flex: 25%;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
}
.side h2 {
  font-size: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #f39c12;
  color: white;
}
.side p {
  color: gray;
  text-align: justify;
  padding: 8px;
  margin-top: 8px;
  padding-left: 20px;
}
.line {
  width: 80%;
  margin-left: 20px;
}
.personal-detail-content {
  padding-top: 8px;
  color: black;
}

/* Main column -Rohan*/
.main {
  margin-left: 20px;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  text-align: center;
  flex: 75%;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
}
.main h2 {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #f39c12;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.main-section {
  width: 90%;
  margin: 0 50px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .profile-img {
    margin-left: 0px;
    margin-top: 50px;
  }
}
