/* flex container playerflex -yash */
.playerflex-container {
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  margin-top: -15px;
}
/* h1 tag -yash  */
.playerheader {
  margin-bottom: 20px;
}
/* placeholder for all the values in the component -yash */
::placeholder {
  color: #f39c12;
}
/* division tag in playerflex-container -yash */
.playerflex-container .division {
  width: 110px;
  margin: 3px;
  text-align: center;
  line-height: 75px;
  margin-left: auto;
  margin-right: auto;
}
/*functions inside react-Datepicker -yash */
.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  margin-top: -20px;
}
/* functions inside react-datepicker -yash */
.react-datepicker__day-names,
.react-datepicker__week {
  white-space: pre-wrap;
  margin-top: -30px;
}
/* functions inside react-datepicker -yash */
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae;
}
/* functions inside react-datepicker -yash */
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  border-top: none;
  /* border-bottom-color: #f0f0f0; */
  margin-left: 30px;
}

/* Responsive columns -yash*/
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 6px;
    margin-right: 25px;
  }
  .playerflex-container {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .playerflex-container .division {
    -webkit-flex: 3;
    flex: 3;
  }
  .div {
    margin-right: 320px;
  }
}
/* responsive columns -yash */
@media screen and (max-width: 700px) {
  .column {
    width: 60%;
    display: block;
    margin-bottom: 6px;
    margin-right: 500px;
  }
  .div {
    margin-right: 320px;
  }
  .playerflex-container {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .playerflex-container .division {
    -webkit-flex: 3;
    flex: 3;
  }
}
/* button tag -yash */
.playerbutton {
  width: 160px;
  background: white;
  color: #f39c12;
  font-size: 18px;
  border: 1px solid #f39c12;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  outline: 0;
  margin-top: 20px;
}
/* hover function on button -yash */
.playerbutton:hover,
.playerbutton:active,
.playerbutton:focus {
  background: orange;
  color: white;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
}
/* playerdetails input field -yash */
.playerdetails {
  padding: 10px;
  border: 1px solid #218380;
  border-radius: 8px;
  margin-bottom: 12px;
  width: 75%;
  height: 45%;
  box-sizing: border-box;
  color: #218380;
  font-size: 13px;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
  outline: 0;
}
/* form id playerform -yash */
#playerform {
  width: 42%;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
/* playerform fieldset -yash */
#playerform fieldset {
  background: white;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  padding: 50px 50px;
  box-sizing: border-box;
  width: 80%;
  margin: 5% 10%;
  position: relative;
}
/* player Adding field -yash */
.playerAdding {
  padding: 5px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 8px;
  border-color: #dadce0;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
}
/* player type dropdown -yash */
.playerType {
  width: 75%;
  margin: 5px;
  margin-bottom: 15px;
  border: 1px solid #218380;
  border-radius: 8px;
  color: #f39c12;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
  outline: 0;
  padding: 10px;
}
/* datepicker field -yash */
.playerdate {
  border: 1px solid #218380;
  border-radius: 8px;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
  outline: 0;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  width: 89%;
  height: 20%;
  margin-right: 70px;
}

/* gender within select tag -yash */
.genders {
  padding: 2px;
  border: 1px solid #218380;
  border-radius: 8px;
  color: #f39c12;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
  outline: 0;
  width: 89%;
  height: 50%;
  font-size: 12px;
  margin-left: 5px;
}

