@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Work+Sans);

.rankingplayerIcon {
  height: 30px;
}
.rankings-container-header {
  text-align: center;
}

.rankingmain-container {
  width: 90%;
  margin: 0px auto;
}

.ranking-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.ranking-table {
  border: 1px solid #c2c2c2;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.ranking-table th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 15px;
}

.ranking-table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 15px;
}

.ranking-table tr:nth-child(even) {
  background-color: #dddddd;
}

.ranking-container > div,
.ranking-container1 > div {
  width: 100%;
  margin: 20px;
  text-align: left;
  font-size: 14px;
}
.ranking-container1 {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

* {
  font-family: Work Sans, sans-serif;
  user-select: none;
}
.rankings-button-container {
  margin-left: 80px;
  padding-top: 20px;
  width: 350px;
  height: 70px;
}
.ranking-test-button {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: white;
  color: #f39c12;
  width: 100px;
  height: 50px;
  margin-left: 5px;
  border: 1px solid #f39c12;
}

.ranking-active {
  width: 100px;
  height: 50px;
  margin-left: 5px;
  border: 1px solid #fdf0dc;
  background-color: #f39c12;
  color: #ffffff;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
  outline: none;
}

.ranking-t20-button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  color: #f39c12;
  width: 100px;
  height: 50px;
  margin-left: 5px;
  border: 1px solid #f39c12;
}
.ranking-t20-active {
  width: 100px;
  height: 50px;
  margin-left: 5px;
  border: 1px solid #fdf0dc;
  background-color: #f39c12;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #ffffff;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
  outline: none;
}

.ranking-odi-button {
  border: 1px solid #f39c12;
  margin-left: 5px;
  background-color: white;
  color: #f39c12;
  width: 100px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .ranking-container {
    display: block;
  }
  .ranking-container1 {
    display: block;
  }
  .ranking-table {
    width: 70%;
  }
  .rankings-container-header {
    margin-right: 25vw;
  }
}
