@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Work+Sans);

.rankingplayerIcon {
  height: 30px;
}
.rankings-container-header {
  text-align: center;
}
.rankings-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(30px, 1fr));
  background-color: #fff;
  max-width: 800px;
  height: auto;
  border: 1px solid white;
  margin: 50px auto auto auto;
  padding-bottom: 80px;
}

.rankings-row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
}

.rankings-box {
  padding: 15px;
  font-size: 16px;
}

.rankings-row:nth-child(even) {
  background-color: #c2c2c2;
}

.rankings-row:nth-child(1) {
  background: #c2c2c2;
}
.rankingmain-container {
  width: 90%;
  margin: 0px auto;
}

.ranking-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.ranking-table {
  border: 1px solid #c2c2c2;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 15px;
}

td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.ranking-container > div,
.ranking-container1 > div {
  width: 100%;
  margin: 20px;
  text-align: left;
  font-size: 14px;
}
.ranking-container1 {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

* {
  font-family: Work Sans, sans-serif;
  user-select: none;
}
.rankings-button-container {
  margin-left: 80px;
  padding-top: 20px;
  width: 350px;
  height: 70px;
}
.ranking-test-button {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: white;
  color: #f39c12;
  width: 100px;
  height: 50px;
  margin-left: 5px;
  border: 1px solid #fdf0dc;
}

.ranking-active {
  width: 100px;
  height: 50px;
  margin-left: 5px;
  border: 1px solid #fdf0dc;
  background-color: #f39c12;
  color: #ffffff;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
  outline: none;
}

.ranking-t20-button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  color: #f39c12;
  width: 100px;
  height: 50px;
  margin-left: 5px;
  border: 1px solid #f39c12;
}
.ranking-t20-active {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  background-color: #f39c12;
  width: 100px;
  outline: none;
  height: 50px;
  margin-left: 5px;
}

.ranking-odi-button {
  border: 1px solid #f39c12;
  margin-left: 5px;
  background-color: white;
  color: #f39c12;
  width: 100px;
  height: 50px;
}
