.resetpassword-button:focus .resetpassword-button:active {
  outline: none;
}
.resetpassword-button {
  width: 160px;
  background: white;
  color: #f39c12;
  font-size: 16px;
  border: 1px solid #f39c12;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  outline: 0;
  margin-bottom: 20px;
  box-shadow: 0px 4px 6px 0px #c2c2c2;
}

@media screen and (max-width: 700px) {
  .col-25,
  .col-75 {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .col-25,
  .col-75 {
    width: 100%;
    margin-top: 0;
  }
}

.resetpassword-button:hover {
  background: #f39c12;
  color: white;
}

::placeholder {
  color: #f39c12;
}

.resetpasswordheader {
  font-size: 30px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 30px;
}
.resetpassword {
  padding: 15px;
  border: 1px solid #218380;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  color: #218380;
  font-size: 13px;
  outline: 0;
}

#resetpasswordform fieldset {
  border: 1px solid #218380;
  border-radius: 8px;
  padding: 50px 50px;
  box-sizing: border-box;
  height: 400px;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

#resetpasswordform {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  text-align: center;
  /* padding-bottom: 100px; */
  /* position: relative; */
}
